/* Work on the classes begining with chrome-extension-infometer to change the design of the extension */

html, body{
	margin:0;
	padding:0;
}

body{
	height:1000px;
}

.chrome-extension-infometer-header{
	position:fixed;
	height:20px;
	width:100%;
	background:#ddd url("infometer.png") no-repeat right center;
	top:0;
	box-shadow: inset 0px 0px 6px 1px #999;
}

.chrome-extension-infometer-progress{
	display:block;
	height:20px;
	background: rgb(42, 158, 153);
	box-shadow: inset 0 0 8px 3px rgb(49, 197, 197);
}

.chrome-extension-infometer-tooltip{
	background:#fec603;
	padding:3px;
	text-align: center;
	margin:0;
	position:fixed;
	top:20px;
	left:0;
	width:100%;
}

.chrome-extension-infometer-marker{
	cursor:pointer;
	position:absolute;
	left:0;
}

.marker1{	
	top:60px;
}

.marker2{
	top:200px;
}
