html, body{
	margin:0;
	padding:0;
}

body{
	height:1000px;
}

.infometer{
	position:fixed;
	height:20px;
	width:100%;
	background:blue;
	top:0;
}

.progress{
	display:block;
	background:green;
	height:20px;
}

.tooltip{
	background:#fec603;
	padding:3px;
	text-align: center;
	margin:0;
	position:fixed;
	top:20px;
	left:0;
	width:100%;
}

.marker{
	cursor:pointer;
	position:absolute;
}

.marker1{	
	top:60px;
}

.marker2{
	top:200px;
}